<div class="container-fluid">
    <h1 style="text-align: center;">
        <span style="text-decoration: underline;">
            About D&amp;DEasy.
        </span>
    </h1>
    <div style="border:dotted" class="container-fluid">
        <p style="text-align: center;">
            This application is a part of a batch project for Revature.
        </p>
        <p style="text-align: center;">
            <span style="font-weight: 400;">
                Dungeons &amp; Dragons is a tabletop game where players write down information on what’s called a ‘character sheet’, and that information is typically only disclosed to the Dungeon Master.
                The old methods are perfectly fine, but they have their issues:
            </span>
        </p>
        <ul style="list-style-type: circle;">
            <li style="text-align: left;">
                <span style="font-weight: 400;">
                    New players struggle with navigating all of the information on their sheet.
                </span>
            </li>
            <li style="text-align: left;">
                <span style="font-weight: 400;">
                    Dishonest players sometimes ‘fudge rolls’, and lie about what happens to them.
                </span>
            </li>
            <li style="text-align: left;">
                <span style="font-weight: 400;">
                    There is a <i> lot </i> of math that goes into your character’s stats, and some people struggle with it. (and that’s OK!)
                </span>
            </li>
        </ul>
        <p style="text-align: center;">
            <span style="font-weight: 400;">
                The aim of this project is to streamline some of the processes and ensure honesty at the table, so that a level 3 Wizard doesn’t “mysteriously” survive an arrow to the face
            </span>
        </p>
        <p style="text-align: center;"><span style="font-weight: 400;"> </span></p>
        <p style="text-align: center;">
            <img src="https://twinfinite.net/wp-content/uploads/2018/04/DD-Logo.png" alt="D&amp;D" style="float: left;" width="313" height="149" />
        </p>
        <p style="text-align: center;"><span style="font-weight: 400;"> </span></p>

    </div>
</div>
