
@{
    ViewData["Title"] = "GameTut";
}
<style>
    .Background {
        background-image: url(https://images3.alphacoders.com/152/152779.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dicbacl {
        background-image: url(http://www.dalimaden.com/Resim/Fotogaleri/Buyuk/fotogaleri12198b4e.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-style: groove;
        margin-top: 5%;
    }

    p {
        font-size: 17px;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid black;
            padding: 8px;
            align-content: center;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #9f4000;
            color: white;
        }

    #caption {
        color: black;
        align-self: center;
    }
</style>

<body class="Background">
    <div class="dicbacl">
        <h1 style="text-align: center;"><span style="text-decoration:underline;"><strong>Dungeons &amp; Dragons Rules</strong></span></h1>
        <div class="container-fluid">
            <h2>The D20</h2>
            <ul>
                <li>In D&amp;D, the d20 is king.</li>
                <li>If you want to do something where your probability of success lies between 1 and<br />99 percent, you will roll a d20.</li>
                <li>This is may be called an ability check, saving throw, or attack (depending on<br />context), but they all function the same way.</li>
                <li>Roll the d20, add your relevant modifiers, and compare the total to the number you<br />have to beat.</li>
                <li>The number you must beat to succeed is called the DC (Difficulty Class) or AC<br />(Armor Class), depending on context.</li>
            </ul>
            <p></p>
            <h2>Modifiers</h2>
            <p>So, now you know how to make a check with a d20. But where do the modifiers come from?<br />They can come from two places, your character stats (abilities) and possibly your proficiency<br />bonus.</p>
            <p></p>
            <h2>Abilities</h2>
            <ul>
                <li>In D&amp;D, abilities are your main stats.</li>
                <li>There are six abilities: Strength, Dexterity, Constitution, Intelligence, Wisdom, and<br />Charisma.</li>
                <li>CONFUSING: Your ability score is NOT the same as your ability modifier. In most<br />cases, the ability modifier is the important number because this is what you will<br />add (or subtract) from a d20 check.</li>
                <li>Fine print example: 10 is the base ability score in D&amp;D. If your Strength is 10, your Strength modifier is<br />0. The modifier then goes up or down by one for every two score. Strength 12 gives you a +1 modifier;<br />Strength 14, a +2; etc.</li>
            </ul>
            <p></p>
            <h2>Skills</h2>
            <ul>
                <li>Skills are basically subsets of abilities. They are used in more specific ways than<br />the basic abilities.</li>
                <li>A skill modifier comes from your modifier in the related ability.</li>
                <li>There are 18 skills, broken down by related abilities as follows:</li>
            </ul>
            <table style="border-color:black" class="table-bordered" width="665" height="152" id="customers">
                <tbody>
                    <tr>
                        <td style="width: 126.683px; text-align: center;"><strong>Strength</strong></td>
                        <td style="width: 126.683px; text-align: center;"><strong>Dexterity</strong></td>
                        <td style="width: 126.683px; text-align: center;"><strong>Intelligence</strong></td>
                        <td style="width: 126.683px; text-align: center;"><strong>Wisdome</strong></td>
                        <td style="width: 126.667px; text-align: center;"><strong>Charisma</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 126.683px;">Athletics</td>
                        <td style="width: 126.683px;">Acrobatics</td>
                        <td style="width: 126.683px;">Arcana</td>
                        <td style="width: 126.683px;">Animal Handling</td>
                        <td style="width: 126.667px;">Deception</td>
                    </tr>
                    <tr>
                        <td style="width: 126.683px;"></td>
                        <td style="width: 126.683px;">Sleight of Hand</td>
                        <td style="width: 126.683px;">History</td>
                        <td style="width: 126.683px;">Insight</td>
                        <td style="width: 126.667px;">Intimidation</td>
                    </tr>
                    <tr>
                        <td style="width: 126.683px;"></td>
                        <td style="width: 126.683px;">Stealth</td>
                        <td style="width: 126.683px;">Ivestigation</td>
                        <td style="width: 126.683px;">Medicine</td>
                        <td style="width: 126.667px;">Performance</td>
                    </tr>
                    <tr>
                        <td style="width: 126.683px;"></td>
                        <td style="width: 126.683px;"></td>
                        <td style="width: 126.683px;">Nature</td>
                        <td style="width: 126.683px;">Perception</td>
                        <td style="width: 126.667px;">Persuasion</td>
                    </tr>
                    <tr>
                        <td style="width: 126.683px;"></td>
                        <td style="width: 126.683px;"></td>
                        <td style="width: 126.683px;">Religion</td>
                        <td style="width: 126.683px;">Survival</td>
                        <td style="width: 126.667px;"></td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <p></p>
            <h2>Proficiency Bonus</h2>
            <ul>
                <li>This is the other number that might routinely get added to your d20 check. But<br />just what is it?</li>
                <li>A proficiency bonus is just a set number. At level 1, your proficiency bonus starts as<br />+2.</li>
                <li>You add this bonus to anything you are proficient (trained) in. These might be<br />skills, saving throws, specific weapons, or armor.</li>
                <li>As you level, this bonus increases. You thereby get “better” at doing all of things<br />you are trained to do.</li>
            </ul>
            <p></p>
            <h2>D20 Summary</h2>
            <ul>
                <li>There you have it, to make a check, you roll a d20, add your modifier, and add your<br />proficiency bonus if applicable. (d20 + modifier + proficiency bonus)</li>
                <li>Fine print example: Steve is trying to persuade Aaron to have some cake. He rolls a 12 on his d20. He<br />then adds his Charisma modifier (+2). Steve is proficient in Persuasion, so he also adds his proficiency<br />bonus (+2). The total is 16. Aaron was predisposed to the cake anyway, so the DC was only 10. Steve is successful and Aaron eats the (poisoned) cake.</li>
            </ul>
            <p></p>
            <h2>Combat</h2>
            <p>There are a lot of different options for combat, but for the sake of this tutorial<br />and building a character, we are only going to cover two things: weapon attacks<br />and spells.</p>
            <p></p>
            <h2>Weapon Attacks</h2>
            <ul>
                <li>Every weapon has different damage stats, represented by dice. You might have a<br />1d6 shortsword or a massive 2d6+1 maul. This represents a possible damage<br />range.</li>
                <li>However, you aren’t going to hit your enemy every single time you attack.</li>
                <li>Therefore, there are two phases to a weapon attack. First, you roll to see if you hit,<br />then if successful, you roll damage.</li>
            </ul>
            <p></p>
            <h2>Attack Roll</h2>
            <ul>
                <li>To see if you hit the enemy with your attack, you make an attack roll.</li>
                <li>An attack roll is just another version of a d20 check. The number you need to beat<br />for success is the enemy’s AC (Armor Class).</li>
                <li>Roll a d20. Add your Strength modifier for melee weapons or your Dexterity<br />modifier for ranged weapons. Lastly, add your proficiency bonus if you are<br />proficient with that weapon. (d20 + modifier + proficiency bonus)</li>
                <li>Compare the total to the enemy AC (the DM may do this). If you fail, too bad. If you<br />succeed, roll damage!</li>
            </ul>
            <p></p>
            <h2>Damage Roll</h2>
            <ul>
                <li>Roll the number and type of dice specified by the particular weapon.</li>
                <li>Add your Strength modifier for melee attacks or your Dexterity modifier for ranged<br />attacks. (weapon damage dice + modifier)</li>
                <li>Fine print example: Aaron has noticed Steve’s treachery and lashes out with his longsword. He makes an<br />attack roll. He only rolls an 8 on his d20, but then he adds his Strength modifier (+2) and his proficiency<br />bonus (+2) for a total of 12, which equals Steve’s AC of 12. The attack is a success! Aaron rolls the<br />damage die for the longsword (1d8) and gets a 6. He then adds his Strength modifier (+2). Aaron gashes<br />the point of his longsword across Steve’s thigh for 8 points of damage.</li>
            </ul>
            <p></p>
            <h2>Spells</h2>
            <ul>
                <li>
                    I won’t lie. The spell system is the most complicated part of D&amp;D, but that’s mostly<br />because of the nomenclature around it. It’s not too tough if we break it down into<br />parts:
                    <ul>
                        <li>What Spells Can I Cast?</li>
                        <li>Spell Levels</li>
                        <li>Managing Your Spell Resources</li>
                        <li>At Higher Levels</li>
                        <li>Attack Spells vs. Save Spells</li>
                    </ul>
                </li>
            </ul>
            <p></p>
            <h2>What Spells Can I Cast?</h2>
            <ul>
                <li>Every class has a different way of managing this.</li>
                <li>Some classes (sorcerer) simply “know” a small list of spells they can always cast.</li>
                <li>Other classes (wizard) “know” a massive list of spells, but they can only have a<br />small number of them “prepared” for use at any one time. The prepared spells can<br />be swapped out, usually during a long rest.</li>
                <li>In general, you will learn more spells as you level up.</li>
            </ul>
            <p></p>
            <h2>Spell Levels</h2>
            <ul>
                <li>A spell’s level is a general indicator of how powerful it is.</li>
                <li>There are 10 levels of spells in D&amp;D. Specific spells will belong in one of these<br />levels.</li>
                <li>CONFUSING: Spell levels are NOT the same as character levels and don’t really<br />match up. You have to look at the level progression table for your class to see when<br />you learn spells of different levels.</li>
            </ul>
            <p></p>
            <p></p>
            <h2>Managing Your Spell Resources</h2>
            <ul>
                <li>In general, the resource you use for casting spells is called spell slots (unfortunately<br />named, I know).</li>
                <li>Spell slots correspond to spell levels. Level 1 spell slots can be used to cast level 1<br />spells; level 3 spell slots are for level 3 spells, etc. As you level up, you will have<br />spell slots of different levels available to you.</li>
                <li>Spell slots are a resource that (for most classes) recharge on a long rest. You can<br />therefore think of them as “daily” resource.</li>
                <li>Cantrips are the lowest level of spell. You can cast these unlimited times without<br />using any of your spell slots.</li>
            </ul>
            <p></p>
            <h2>At Higher Levels</h2>
            <ul>
                <li>There is a mechanic that complicates the “spell slots = spell level” system. You can<br />cast some spells “at a higher level.”</li>
                <li>This means you might spend a level 3 spell slot to cast a spell that is normally a<br />level 1 spell. If the spell description specifies, the spell might become more<br />powerful.</li>
                <li>You might also simply run out of your level 1 slots. In this case, you can use a<br />higher-level slot to cast a level 1 spell, even if it provides no extra power.</li>
            </ul>
            <p></p>
            <h2>Attack Spells Vs. Save Spells</h2>
            <p>When it comes to combat, there are two types of spells, which function differently:<br />attack spells, and save spells.</p>
            <p></p>
            <h2>Attack Spells</h2>
            <ul>
                <li>Attack spells function similarly to weapon attacks.</li>
                <li>You roll a d20, add your ability modifier for your class of spellcaster and your<br />proficiency bonus. Compare the total to the AC of the target and then roll the<br />appropriate damage if you hit. (d20 + spellcasting ability modifier + proficiency bonus)</li>
                <li>Fine print example: Steve releases a Chromatic Orb at Aaron. He rolls a 10 on the d20, adds his<br />Intelligence modifier (+3) and his proficiency bonus (+2), and compares to Aaron’s AC of 14. He hits!<br />Steve scorches Aaron for 3d8 damage.</li>
            </ul>
            <h2></h2>
            <h2>Save Spells</h2>
            <ul>
                <li>Some spells require no attack roll. Instead, the target makes a saving throw. This is<br />a check they make using their ability modifiers and possibly any proficiency they<br />have. They must beat your spell save DC to succeed.</li>
                <li>spell save DC = 8 + your spellcasting ability modifier + your proficiency bonus</li>
                <li>Fine print example: Steve follows up his Chromatic Orb attack on Aaron with a Fireball. There is no spell<br />attack, but Aaron must make a Dexterity saving throw. He rolls a 12. His Dexterity modifier is +1 and he<br />is proficient in dexterity saving throws (+2). His total beats Steve’s spell DC of 13, so Aaron takes half<br />damage from the Fireball. Steve still rolls the full 8d6 and they divide the total by 2.</li>
            </ul>
            <p></p>
            <h2>Spellcasting Summary</h2>
            <ul>
                <li>There you have it. Being a spellcaster certainly adds a layer of complexity to the<br />game, but casting spells is fucking cool. Just remember the basics.</li>
                <li>Select your spells (and prepare them if applicable).</li>
                <li>Spend your spell slots to cast spells of the same (or lower) level.</li>
                <li>In combat, some spells will be attacks and others will require saving throws. Know<br />your enemy!</li>
                <li>There’s more to it, of course. There are concentration spells, ritual spells, material components for<br />spells, etc. But you know enough now to decide what kind of character you want to make and<br />venture forth!</li>
            </ul>
        </div>
    </div>
</body>

