
@{
    ViewData["Title"] = "GameInfo";
}

<h1 style="text-align: center;">
    <span style="text-decoration: underline;">
    <strong> Dungeons &amp; Dragons </strong>
        </span></h1>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;">
    Dungeons &amp; Dragons is a structured yet open-ended role-playing game.
    It is normally played indoors with the participants seated around a tabletop.
    Typically, each player controls only a single character, which represents an individual in a fictional setting.
    When working together as a group, these player characters (PCs) are often described as a "party" of adventurers, with each member often having their own area of specialty which contributes to the success of the whole.
    During the course of play, each player directs the actions of their character and their interactions with other characters in the game.
    This activity is performed through the verbal impersonation of the characters by the players, while employing a variety of social and other useful cognitive skills, such as logic, basic mathematics and imagination.
    A game often continues over a series of meetings to complete a single adventure, and longer into a series of related gaming adventures, called a "campaign". 
</p>
<p style="text-align: justify;"></p>
<p> 
    The results of the party's choices and the overall storyline for the game are determined by the Dungeon Master (DM) according to the rules of the game and the DM's interpretation of those rules.
    The DM selects and describes the various non-player characters (NPCs) that the party encounters, the settings in which these interactions occur, and the outcomes of those encounters based on the players' choices and actions.
    Encounters often take the form of battles with "monsters" – a generic term used in D&amp;D to describe potentially hostile beings such as animals, aberrant beings, or mythical creatures.
    The game's extensive rules – which cover diverse subjects such as social interactions, magic use, combat, and the effect of the environment on PCs – help the DM to make these decisions.
    The DM may choose to deviate from the published rules or make up new ones if they feel it is necessary.
</p>
<p></p>
<p> The only items required to play the game are the rulebooks, a character sheet for each player, and a number of polyhedral dice.
    Many players also use miniature figures on a grid map as a visual aid, particularly during combat.
    Some editions of the game presume such usage.
    Many optional accessories are available to enhance the game, such as expansion rulebooks, pre-designed adventures and various campaign settings.
    </p>
<p></p>
<p><img src="https://static1.squarespace.com/static/5005b4cb84ae929b37203d61/5005b608e4b065dbfcb859b2/52e06d6be4b0b11bf7e410ad/1391281742586/crossshotsetup-copy.jpg?format=1500w" alt="D&amp;D" style="display: block; margin-left: auto; margin-right: auto;" width="661" height="495" /></p>
<p></p>

